<launch>

  <arg name="use_rviz" default="true" doc="Choose whether or not to use rviz."/>
  <arg name="use_gui" default="true" doc="Choose whether or not to use gui."/>

  <param name="robot_description" textfile="$(find mr_description)/robots/test.urdf" />
  <!-- <param name="robot_description" textfile="$(find mr_description)/robots/manipulator6d.urdf" /> -->
  <!-- <param name="robot_description" textfile="$(find mr_description)/robots/manipulator5d.urdf" /> -->

  <!-- bring up robot description, joint and robot state publishers (also can start rviz) -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg use_gui)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg use_gui)" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find iiwa_description)/launch/iiwa.rviz" required="true" /> -->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mr_description)/rviz/manipulator5d.rviz -f base_link" if="$(arg use_rviz)"/>
  <!-- <node name="rviz" pkg="rviz" type="rviz" required="true"/> -->

</launch>
